    .red {
        color: red;
    }
    
    body {
        font-family: 'Rubik', sans-serif!important;
        font-weight: 300!important;
    }
    
    a:hover,
    a:focus {
        text-decoration: none;
        color: white!important;
        transition: ease-in 1s;
    }
    
    #footer a:hover,
    #footer i:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.0);
        transform: scale(1.1);
    }
    
    #nav-menu {
        background-color: rgb(55, 165, 204)!important;
        box-shadow: 0px 1px 6px 0px #0000009e;
        font-weight: 500!important;
    }
    
    .active {
        border-bottom: 2px solid #ffffff;
        border-spacing: 3px;
    }
    
    .page {
        background: #e2e2e5;
        display: flex;
        flex-direction: column;
        place-content: center;
    }
    
    #olho-login {
        float: right;
        cursor: pointer;
        position: relative;
        margin-right: 10px;
        margin-bottom: -18px;
    }
    
    .error {
        color: #bd5862!important;
    }
    
    .container1 {
        padding-top: 50px;
        display: flex;
        height: 500px;
        margin: 0 auto;
        width: 640px;
    }
    
    .left {
        background: white;
        height: calc(100% - 40px);
        top: 20px;
        position: relative;
        width: 50%;
    }
    
    .login {
        font-size: 50px;
        font-weight: 900;
        margin: 50px 40px 40px;
    }
    
    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: rgb(55, 165, 204);
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(105, 147, 192, 0.25);
    }
    
    .eula {
        color: #999;
        font-size: 14px;
        line-height: 1.5;
        margin: 40px;
    }
    
    .right {
        padding-top: 2rem!important;
        background: rgb(55, 165, 204);
        box-shadow: -1px 0px 9px 6px rgba(0, 0, 0, 0.22);
        color: #ffffff;
        position: relative;
        width: 50%;
        display: flex;
    }
    
    label#message-email,
    label#message-password {
        color: #ffffff;
        display: block;
        font-size: 14px;
        height: 16px;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    
    input#username1,
    input#password1,
    input#remember_me {
        background: transparent;
        border: 0;
        color: #f2f2f2;
        line-height: 30px;
        width: 100%;
        outline: none !important;
    }
    
    .text-danger {
        color: #bd5862!important;
    }
    
    .empresas {
        padding-bottom: 2rem;
    }
    
    .invalid-feedback {
        color: #bd5862!important;
    }
    
    .form-check {
        padding-left: 2.25rem;
    }
    
    body {
        background-color: #e2e2e5!important;
    }
    
    input#username1 {
        border-bottom: 1px solid;
    }
    
    input#password1 {
        border-bottom: 1px solid;
    }
    
    .btn-outline-primary {
        color: #ffffff;
        background-color: rgb(55, 165, 204);
        border-color: #ffffff;
    }
    
    .btn-outline-primary.disabled {
        color: #fff;
    }
    
    .btn-outline-primary:hover {
        background-color: #12bae491;
        color: #ffffff;
        border-color: #ffffff;
    }
    
    tr:hover {
        background-color: #e2e2e5!important;
    }
    
    #search_form {
        padding-bottom: 5rem!important;
    }
    
    tr,
    td {
        vertical-align: middle!important;
    }
    
    .text-primary {
        color: #ffffff!important;
    }
    
    a.text-primary:focus,
    a.text-primary:hover {
        color: #12bae491!important;
    }
    
    #footer {
        background-color: rgb(55, 165, 204)!important;
        margin-top: 3rem!important;
        width: 100% !important;
        bottom: 0 !important;
        margin-bottom: 0 !important;
    }
    
    #footer .footer-center {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    .fa.footer-contacts-icon,
    .fab.footer-contacts-icon,
    .fas.footer-contacts-icon {
        background-color: #fff;
        color: rgb(55, 165, 204);
        font-size: 18px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 38px;
        margin: 10px 15px 10px 0;
    }
    
    .footer-contacts p,
    .footer-contacts a {
        display: inline-block;
        color: #ffffff;
        vertical-align: middle;
    }
    
    #footer a,
    #footer p,
    #footer div {
        color: azure;
        font-weight: 500;
    }
    
    #footer {
        align-items: center;
    }
    
    .social-links .fab,
    .social-links .fas,
    .social-links .fa {
        font-size: 30px;
        padding-right: 10px;
    }
    
    .dropdown-item:focus,
    .dropdown-item:hover {
        color: #ffffff;
        background-color: rgb(55, 165, 204);
    }
    
    .dropdown-item.active,
    .dropdown-item:active {
        background-color: rgb(55, 165, 204)!important;
    }
    
    .section {
        padding: 8.5rem 0 3rem !important;
    }
    
    .table .thead-dark th {
        color: #fff;
        background-color: #717171;
        border: 1px solid #e2e2e5;
        border-bottom-color: #717171;
        border-top-color: #717171;
    }
    
    .table td {
        padding: .75rem;
        vertical-align: top;
        border-right: 1px solid #e2e2e5;
    }
    
    #results_select {
        background-color: #e2e2e5;
    }
    
    #pading-top {
        padding-top: 2rem;
    }
    
    #user-register {
        padding: 2rem;
        background-color: #e2e2e5;
        box-shadow: 0px 1px 6px 0px #0000009e;
    }
    
    #select-box {
        margin-left: 30.5rem;
        margin-bottom: -2rem;
        z-index: 99;
    }
    
    input#search {
        background: transparent;
        border: 0;
        color: #ffffff;
        font-size: 20px;
        line-height: 30px;
        border-color: rgb(55, 165, 204);
        outline: none !important;
        border-bottom: 1px solid rgb(55, 165, 204);
    }
    
    #leads-table_filter {
        justify-content: end;
    }
    
    label {
        display: flex;
    }
    
    .kaka {
        position: relative;
    }
    
    #leads-table_length,
    #lead-search_length {
        margin-bottom: -3rem;
        padding-left: 3rem;
    }
    
    #leads-table_info {
        padding-left: 3rem;
    }
    
    header.masthead {
        padding-top: 17rem;
        padding-bottom: 18rem;
        text-align: center;
        color: #fff;
        background-image: url("../imgs/header.jpg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
    }
    
    header.masthead .masthead-subheading {
        font-size: 1.5rem;
        font-style: italic;
        line-height: 1.5rem;
        margin-bottom: 25px;
    }
    
    header.masthead .masthead-heading {
        font-size: 3.25rem;
        font-weight: 700;
        line-height: 3.25rem;
        margin-bottom: 2rem;
    }
    
    .text-capitalize {
        text-transform: capitalize !important;
        overflow: hidden;
        max-width: 36ch;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    #maps {
        max-width: 280px;
    }
    
    .navbar-nav .dropdown-menu {
        float: none;
        position: absolute!important;
    }
    /* Inicio reponsividade */
    
    @media (max-width: 576px) {
        .container1 {
            width: 70%;
        }
    }
    
    @media (max-width: 767px) {
        .input-group.col-6.border-bottom {
            width: 100% !important;
            max-width: 100%!important;
            flex: 0 0 100%;
        }
        .active {
            max-width: 100px;
        }
        .text-capitalize {
            overflow: none;
            max-width: 100%;
            text-overflow: none;
            white-space: nowrap;
        }
        .col-3.text-success {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .col-3.text-info,
        .col-2.text-info,
        .col-2.text-warning,
        .col-3.text-warning {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
        #creator,
        #responseCreator,
        #update,
        #lastUpdate,
        #dateContact,
        #date,
        #contactName,
        #ResponseContactName,
        #lastContact,
        #ResponseLastContact {
            display: none;
        }
        #leads-table_length,
        #lead-search_length {
            padding-left: 0rem;
        }
        #leads-table_filter {
            max-width: 25%;
            margin-left: 32%!important;
        }
        .ml-auto,
        .mx-auto {
            margin-left: 32%!important;
        }
        #select-box {
            flex: 0 0 30%;
            max-width: 30.667%;
            margin-left: 24rem;
        }
        .col-2.text-success {
            flex: 0 0 50%;
            max-width: 30%;
        }
        #conversion-group {
            flex: 0 0 50%;
            max-width: 20%;
        }
        .right {
            flex-shrink: 0;
            height: 100%;
            width: 100%;
            max-height: 400px;
            padding: 0!important;
        }
        .col-xl-3.col-sm-6.mb-3 {
            max-width: 50%!important;
        }
        .input-group-text {
            font-size: 12px;
            padding: 4px;
        }
        .left {
            height: 100%;
            left: 20px;
            display: none;
            width: calc(100% - 40px);
            max-height: 270px;
        }
        .container1 {
            max-width: 70%;
            justify-content: center;
        }
        #olho-login {
            margin-right: -17px;
        }
        #login-reponsivo {
            margin-top: 4rem;
        }
        #olho-login {
            margin-right: 0px;
        }
        #footer {
            text-align: left;
            padding-left: 4rem;
        }
        .footer-navigation {
            padding-bottom: 3rem;
        }
        #maps {
            max-width: 100%;
        }
        #user-profile {
            display: none;
        }
        #user-profile-fix {
            display: flex;
            flex-direction: row;
            margin-left: auto;
        }
        #user-profile-fix li {
            padding-left: 1rem;
        }
        .navbar-nav {
            padding-left: 2rem;
        }
        .d-block.form-row.col-4.mb-3.mx-auto {
            width: 50%!important;
            max-width: 50%!important;
            flex: 0 0 50%;
        }
        #default {
            max-width: 90%;
        }
        #table-companies_filter {
            margin-left: 15rem!important;
        }
        #table-companies_length {
            padding-left: 0rem!important;
        }
    }
    
    @media (min-width: 767px) {
        #user-profile-fix {
            display: none;
        }
    }
    
    @media (max-width: 425px) {
        #olho-login {
            margin-right: 26px;
        }
        input#username1,
        input#password1,
        input#remember_me {
            font-size: 23px!important;
            margin-right: 35px;
            margin-left: 35px;
        }
    }